<!DOCTYPE html>
<html style="height:100%">
	<head>
		<meta charset="utf-8" />
		<title> Game </title>
		<script type="text/javascript" src="phaser_js/phaser-no-physics.min.js"></script>
		<script type="text/javascript" src="phaser_js/boot.js"></script>
		<script type="text/javascript" src="phaser_js/load.js"></script>
		<script type="text/javascript" src="phaser_js/play.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="views_js/game.js"></script> 
		<link rel="stylesheet" type="text/css" href="css/game.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.min.css">
	</head>
	<body style="height:100%">
		<div class="col-sm-6 col-md-6" id="Box1-2">
			<div id="Box1">
				<div id="gameDiv">
				</div>
			</div>
			<div id="Box2">
				<table class="table table-bordered table-condensed">
					<thead>
						<tr>
							<th><p>Round</p></th>
							<th><p>1</p></th>
							<th><p>2</p></th>
							<th><p>3</p></th>
							<th><p>4</p></th>
							<th><p>5</p></th>
							<th><p>Voting Result</p></th>
							<th><p>Mission Result</p></th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
		<div class="col-sm-6 col-md-6" id="Box3">
			<div id="chat">
				<div id="messagespace">
					<ul id="messages" class="list-group"></ul>
				</div>
				<form action="" id="minput">
					<input id="m" autocomplete="off" /><button>Send</button>
				</form>
			</div>
		</div>

		<!-- Latest compiled and minified JavaScript -->
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="phaser_js/init.js"></script>
	</body>
</html>
