<!doctype html>
<html>
	<head>
		<title>Acceptance</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
		<script src="views_js/index.js"></script>
		<link rel="stylesheet" type="text/css" href="css/index.css">
	</head>
	<body>
		<div id="centerdiv">
			<div id="title"><p>Acceptance</p></div>
			<input id="join" type="submit" value="Join Game" />
			<div id="waitingText">
				<span> Click the button above to join a game! </span>
			</div>
		</div>
	</body>
</html>
